body {
    width: 100%;
    height: 100%;
    font-family: Lato;
}

html {
    width: 100%;
    height: 100%;
}

.logo {
    text-shadow: 2px 3px 3px rgba(255,255,255,0.5);
    margin-top: 50px;
}

@media(min-width:767px) {
    .navbar {
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
        box-shadow: 0px 0px 16px rgba(0,0,0,0.5);
    }
}

.post-icon {
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: -2px;
}

.fa-stack {
    font-size: 20px;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
}

.intro-section {
    height: 100%;
    padding-top: 100px;
    min-height: 400px;
    text-align: center;
    background: url(../img/background.jpg) fixed center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.post-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
}

.navbar-element:hover {
    background: rgba(0,0,0,0.1);
    margin-top: -5px;
    z-index:999;
    box-shadow:rgba(0, 0, 0, 0.3) 0 3px 3px 0;
    -webkit-box-shadow:rgba(0, 0, 0, 0.3) 0 3px 3px 0;
    -moz-box-shadow:rgba(0, 0, 0, 0.3) 0 3px 3px 0;
}

.navbar-element-active {
    z-index:1000;
    box-shadow:rgba(0, 0, 0, 0.3) 0 3px 3px 0;
    -webkit-box-shadow:rgba(0, 0, 0, 0.3) 0 3px 3px 0;
    -moz-box-shadow:rgba(0, 0, 0, 0.3) 0 3px 3px 0;
    background: rgba(0,0,0,0.1);
    margin-top: -5px;
}

.container-blog {
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 0px 3px 3px rgba(0,0,0,0.5);
    margin-bottom: 70px;
}

.container-page {
    padding-top: 150px;
    text-align: center;
}

//* Intro section *//

.container-intro {
    padding-top: 150px;
    text-align: center;
}

.container-intro hr {
    box-shadow: 0px 1px 1px rgba(255,0,0,1);
}

.intro-head {
    color: #fff;
    margin-top: 20px;
    top: 60px;
    font-size: 50px;
    text-shadow: rgba(0, 0, 0, 0.6) 2px 3px 3px;
}

.intro-sub {
    color: rgba(255, 0, 0, 1);
    font-size: 20px;
    text-shadow: rgba(0, 0, 0, 0.6) 2px 3px 3px;
}
}

//* Android 5 'Lolipop' Effect *//

.wrapper {
	display: block;
  margin:0.2%;
}

.wrapper:after {
	content:"";
	display:table;
	clear:both;
}

.ripplelink{
  display:block;
  float:left;
  line-height:10em;
  text-align:center;
  color:#fff;
  text-decoration:none;
  position:relative;
  overflow:hidden;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index:0;
}

.ripplelink:hover{
	z-index:1000;
  box-shadow:rgba(0, 0, 0, 0.3) 0 3px 3px 0;
  -webkit-box-shadow:rgba(0, 0, 0, 0.3) 0 3px 3px 0;
  -moz-box-shadow:rgba(0, 0, 0, 0.3) 0 3px 3px 0;
}

.ink {
  display: block;
  position: absolute;
  background:rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  -webkit-transform:scale(0);
     -moz-transform:scale(0);
       -o-transform:scale(0);
          transform:scale(0);
}

.animate {
	-webkit-animation:ripple 0.65s linear;
   -moz-animation:ripple 0.65s linear;
    -ms-animation:ripple 0.65s linear;
     -o-animation:ripple 0.65s linear;
        animation:ripple 0.65s linear;
}

@-webkit-keyframes ripple {
    100% {opacity: 0; -webkit-transform: scale(2.5);}
}
@-moz-keyframes ripple {
    100% {opacity: 0; -moz-transform: scale(2.5);}
}
@-o-keyframes ripple {
    100% {opacity: 0; -o-transform: scale(2.5);}
}
@keyframes ripple {
    100% {opacity: 0; transform: scale(2.5);}
}

//* Highlightning *//
::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,0,0,.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,0,0,.2);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: rgba(255,0,0,.2);
}

//* Footer section *//

.footer {
    bottom: 0px;
    left: 0px;
    position: fixed;
    background-color: rgba(255,255,255,1);
    z-index: 1000;
    height: 100%;
    width: 60px;
    border-top: 1px solid rgba(0, 0, 0, 1);
}

.containter-footer {
    display: table;
    content: " ";
    background: rgba(255,255,255,1);
}

.footer p {
    position: fixed;
    vertical-align: middle;
    padding: 20px;
    bottom: -20px;
    left: 0px;
    height: 70px;
    width: 100%;
    background: rgba(255,255,255,1);
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}